{% extends "base.html" %}

{% block content %}
<div class="left rtb">
	<h2>what we do</h2>

	<p>Custom programming and system administration for small-medium businesses,
specializing in web sites and browser-based applications.</p>
    <p> We also provide data analysis and business intelligence solutions that help to make sense of gigabytes of data.</p>

	<p>Our approach to web development is simple: we focus on usability and standards.</p>

	<h3>usability</h3>

	<p>We build sites that are easy to use, with straightforward navigation and
	simple, effective search. We can conduct usability tests, so you know
	what your audience thinks even before you launch.</p>

	<p>They're easy for you to live with, too — you can manage your content
	yourself, even if you don't have technical staff.</p>

	<h3>standards</h3>

	<p>Our sites are designed to work for all visitors, whether they have different browsers,
	operating systems, or physical abilities.</p>

	<p>Our clean, standards-based pages are easier for search engines to make
	sense of too, so they rank well.</p>

	<h3>the geeky details</h3>

	<p>If you have specific technical requirements and need to know what we use,
our preferred toolkit consists of:</p>

	<ul>

		<li><a href="http://www.djangoproject.com/">Django</a>: a Web
        development framework written in <a href="http://python.org/">Python</a> that supports rapid development
        of high-quality sites.</li>

		<li><a href="http://www.postgresql.org/">PostgreSQL</a> and <a href="http://www.mysql.com/">MySQL</a>: open-source databases that let us
        build dynamic, reliable, high-performance web sites without the
        licensing costs of commercial databases.</li>

		<li><a href="http://jquery.com/">jQuery</a>: a JavaScript toolkit that
        lets us enrich web user interfaces without compromising usability or
        accessibility.</li>

		<li><a href="http://extjs.com/">Ext JS</a>: another JavaScript library
        with a rich user interface toolbox.</li>

		<li><a href="http://www.ubuntu.com/">Ubuntu</a> Linux: a free,
        reliable, secure platform for web hosting and small business
        servers.</li>
		
		 <li>Java: while we think Django is a better fit for most small
        business web sites, we have Java expertise as well. We like
        solutions based on <a href="http://springframework.org/">Spring</a>,
        and have experience with much of the JEE platform.</li>

	</ul>
</div>

<div class="right rtb">
	<h2>how we do it</h2>

	<p>We're a small business. We understand the constraints. We deliver robust,
open solutions at minimal upfront <em>and</em> ongoing cost. </p>

	<h3>full service</h3>

	<p>We have 12 years experience with programming and
system administration in financial, distribution, and scientific businesses. We
can design, develop and deploy your site, and help you make the decisions
necessary to integrate it into your business.</p>

	<h3>high quality</h3>

	<p>We've worked on data processing systems that have crawled the internet and processed gigabytes of information for a fortune 1000 company. Mobile auditing systems for construction companies that have been used to run large projects. Online trading engines in the forex options market where precision and speed are of critical importance. We know how to build quality software, and we bring that experience to every project.</p>

	<h3>easy to work with</h3>

	<p>We're flexible, low-key, and low-overhead. You can give us the big picture
over a couple of meetings, then turn us loose. We're good listeners, and excel
at turning business requirements into functional sites without taking up tons
of your time.</p>

	<p>Or, if you want to be more involved, our iterative approach to projects
means you'll always be on top of the project scope, timeline and costs.</p>

	<h3>open</h3>

	<p>We value honesty and transparency. You'll see that right from
our initial conversation. We'll tell you up front whether we're a good fit for
your project — we've often helped potential clients find the right solution
elsewhere.</p>

	<p>We manage projects openly as well. You will always know what's going on,
even if there are problems. We've never had a project fail, and make sure that
any surprises don't cost you, so you'll never have to put up with radio
silence or worse, spin.</p>

	<p>Finally, every site we build is based on open software, for which source
code is freely available. There's no lock-in, no tricky licensing, no support
contracts. You pay only for what you need, and the software running your site
is yours forever.</p>

</div>
{% endblock %}
