{% extends "base.html" %}

{% block content %}
<div class="left rtb">
	<h2>Adi Eyal</h2>

    <p>Adi is a software adventurer. He's worked on more projects than he can
    remember in fields as diverse as mobile workflow systems, natural language
    processing, arbitrage trading in the fast pace of the forex options market, and
    machine learning applications that extract actionable knowledge from corporate
    databases.</p>

    <p>His qualifications include an honours degree in Computer Science from
    the University of Cape Town (with distinction) and the two-year coursework
    portion of the masters programme at the Hebrew University (specialising in
    Natural Language Processing)</p>



</div>

{% endblock %}
